<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIDADLO.Properties.Settings.DB_QUANLYBIDAConnectionString"
            connectionString="Data Source=LAPTOP-NQQ9TLI2;Initial Catalog=DB_QUANLYBIDA;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>